# Data link for download the data
DATA_LINK=https://github.com/anshlambagit/AI_Data_Agent/tree/main/data

# ==================================
# Postgres
# ==================================
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DATABASE=ola
POSTGRES_USERNAME=postgres
POSTGRES_PASSWORD=CHANGEME
POSTGRES_SCHEMA_BRONZE=bronze
POSTGRES_SCHEMA_SILVER=silver
POSTGRES_SCHEMA_GOLD=gold
POSTGRES_SCHEMA_PUBLIC=public

# ==================================
# MONGODB
# ==================================
MONGO_URI=mongodb://localhost:27017
MONGO_DB=ola

# ============================
# Databricks Connection
# ============================
DATABRICKS_HOST=
DATABRICKS_HTTP_PATH=
DATABRICKS_TOKEN=
DATABRICKS_CATALOG=walmart
DATABRICKS_SCHEMA=public

# OPENAI API key
OPENAI_API_KEY=CHANGEME
