# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class
*.so
.pytest_cache/
.mypy_cache/
.ruff_cache/
.coverage
.coverage.*
htmlcov/
.pyre/

# ==========================
# Virtual Environments
# ==========================
.venv/
venv/
env/
ENV/
.venv_old

# ==========================
# Environment Variables
# ==========================
.env
.env.*
!.env.example

# ==========================
# Pipeline outputs
# ==========================
/data/
logs/
reports/

# ==========================
# dbt
# ==========================
dbt/target/
dbt/dbt_packages/
dbt/.user.yml
dbt/logs/

# ==========================
# R
# ==========================
.Rproj.user

# ==========================
# .NET
# ==========================
[Bb]in/
[Oo]bj/
TestResults/
.vs/
*.user
