# =========================
# Environment
# =========================
.env
.env.*
!.env.example
.venv/
venv/
env/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Ignore all __init__.py files (NOT RECOMMENDED)
**/__init__.py

# =========================
# Logs
# =========================
logs/
*.log

# =========================
# Jupyter
# =========================
.ipynb_checkpoints/

# =========================
# IDE
# =========================
.vscode/
.idea/

# =========================
# OS Files
# =========================
.DS_Store
Thumbs.db

# =========================
# Temporary Files
# =========================
*.tmp
*.temp
*.bak
*.cache

# =========================
# Database
# =========================
*.db
*.sqlite3

# =========================
# Build / Distribution
# =========================
build/
dist/